.container {
    width: 1024px;
    height: calc(100vh - 128px);

    margin: 0 auto;

    text-align: center;
}

.img-canvas {
    display: block;

    width: 50%;
    margin: 0 auto;

    margin-bottom: 32px;
}

.input-label {
    display: inline-block;
    padding: .5em .75em;
    color: black;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: lightgray;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: .25em;
    width: 50%;
    margin-bottom: 16px;
}

.input-button {
    border: 0;
    background-color: lightslategray;

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.color-box {
    width: 100px;
    height: 100px;

    display: inline-block;
}
